@import './variables.scss';

body {
  font-size: 12px; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.container {
  display: flex;
  width: 100%;
  &.center_item {
    display: flex;
    justify-content: center;
    &:not(.multi) {
      align-items: center;
    }
    &.multi {
      align-content: center;
    }
  }
}

/* 
animation fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
*/
@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}