#homeNav {
	display: flex;
	justify-content: center;
	overflow: hidden;
	background-color: black;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	a {
		font-size: 3rem;
		color: white;
		font-weight: 900;
		text-decoration: none;
		text-align: center;
		padding: 1rem;
		line-height: 4rem;
		float: left;
	}
	a:hover, a.active {
		background-color: white;
		color: black;
	}
}

.homeContainer {
	> div {
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}
	& #edde {
		img {
			width: 50%;
			border: 1px solid black;
		}
	}
	& #about {
		background-color: #009688;
		.aboutMe {
			width: 70%;
		}
	}
	& #contact {
		background-color: #FFA000;
		.contactBox {
			width: 50%;
		}
	}
}
