<nav id="homeNav">
	<a href="#edde" id="logo">EDDE</a>
	<div id="navbar-center">
		<a [ngClass]="{'active': getTag()=='about'}" href="#about">About</a>
		<a [ngClass]="{'active': getTag()=='skills'}" href="#skills">Skills</a>
		<a [ngClass]="{'active': getTag()=='work'}" href="#work">Work</a>
		<a [ngClass]="{'active': getTag()=='contact'}" href="#contact">Contact</a>
	</div>
</nav>
<div class="homeContainer">
	<div id="home">
		<img src="../../assets/edward.jpg">
		<div class="home box" [innerHTML]="aboutText"></div>
		<button mat-raised-button>Contact</button>
	</div>
	<div id="about">
		<div class="about box" [innerHTML]="aboutText"></div>
	</div>
	<div id="skills">
		<div class="skills box">

		</div>
	</div>
	<div id="work">
		<div class="work box">

		</div>
	</div>
</div>